body {
  background-color: rgb(125, 150, 150);
  margin-top: 3rem;
}
h2 {
  color: bisque;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  justify-content: center;
}

textarea {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.btn-encriptar {
  padding: 7px;
  color: rgb(77, 69, 59);
  background-color: rgb(0, 241, 241);
  transition: all 0.2s ease-in-out;
}
.btn-encriptar:hover {
  transform: scale(1.1);
  color: black;
}
.btn-desencriptar {
  padding: 7px;
  color: rgb(77, 69, 59);
  background-color: rgb(189, 106, 106);
  transition: all 0.2s ease-in-out;
}
.btn-desencriptar:hover {
  transform: scale(1.1);
  color: black;
}
